[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
streamlit = "*"
pandas = "*"
openpyxl = "*"
ipykernel = "*"
pytz = "*"
geopandas = "*"
shapely = "*"

[dev-packages]

[requires]
python_version = "3.10"
